<div class="container-fluid app">
  <div class="row app-one">


    <div class="col-md-3">

    </div>
    <div class="col-md-6 current-chat conversation">




      <!-- Heading End -->
      <!-- Message Box -->
      <div class="row message chat_area">
          <div class="row heading">
            <button class="btn btn-info" (click)="ChangeStranger()">{{'strangersConnectBtn'|translate}}</button>
            </div>
        <div *ngIf="Messages && Messages.length != 0">
            <div *ngFor="let msg of Messages">

                <div class="row message-body" *ngIf="msg.Sender == 'Stranger'">
                    <div class="col-sm-12 message-main-receiver">
                      <div class="receiver">
                        <div class="message-text">
                          <div *ngIf="msg.Type == 'T'">
                            {{msg.Message}}
                          </div>
                          <div *ngIf="msg.Type == 'I'">
                            <img class="chatimg" src="{{msg.Message|attachHostName}}"/>
                          </div>
                        </div>
                        <span class="message-time pull-right">
                            {{msg.Date |amFromUtc |amLocal |amDateFormat: 'mm:ss'}}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row message-body" *ngIf="msg.Sender == 'Me'">
                      <div class="col-sm-12 message-main-sender">
                        <div class="sender">
                          <div class="message-text">
                            <div *ngIf="msg.Type == 'T'">
                              {{msg.Message}}
                            </div>
                            <div *ngIf="msg.Type == 'I'">
                              <img class="chatimg" src="{{msg.Message|attachHostName}}"/>
                            </div>
                          </div>
                          <span class="message-time pull-right">
                            {{msg.Date | amFromUtc  |amLocal | amDateFormat: 'mm:ss'}}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row message-body" *ngIf="msg.Sender == 'Server'">
                        <div class="col-sm-12 message-main-sender">
                          <div class="server">
                            <div class="message-text">
                             {{msg.Message}}
                            </div>
                          <!--   <span class="message-time pull-right">
                              {{msg.Date | amFromUtc  |amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}
                            </span> -->
                          </div>
                        </div>
                      </div>

            </div>
            <div class="row message-body" *ngIf="TypingIndicator">
                <div class="col-sm-12 message-main-receiver">
                  <div class="receiver">
                    <div class="message-text">
                        <img src="../../../../assets/imgs/typing.gif" width="100%" height="30">
                    </div>
                   <!--  <span class="message-time pull-right">
                        {{msg.Date |amFromUtc |amLocal |amDateFormat: 'mm:ss'}}
                    </span> -->
                  </div>
                </div>
              </div>
          </div>

      </div>
      <!-- Message Box End -->
      <!-- Reply Box -->
      <div class="row reply">

        <div class="col-sm-10 col-xs-10 reply-main">
          <input [(ngModel)]="NewMessage" (keyup.enter)="SendMessage()" (blur)="Typing(false)" (focus)="Typing(true)"  type="text" class="form-control">
        </div>
        <div class="col-sm-1 col-xs-1 reply-recording">
          <div class="upload-btn-wrapper text-center">
            <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
            <input type="file" (change)="SendImageMessage($event)" multiple="false" accept="image/*" id="myfile" name="myfile" />
          </div>
        </div>
        <div (click)="SendMessage()" class="col-sm-1 col-xs-1  reply-send" id="send">
          <i class="fa fa-send fa-2x" aria-hidden="true"></i>
        </div>
      </div>
      <!-- Reply Box End -->
    </div>

  </div>

  <div class="col-md-3">

  </div>
</div>