<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-push-3">
          <h2 class="text-center">{{'changepasswordChangePassword'|translate}}</h2>
          <form class="login-form" (ngSubmit)="ChangePassword(ChangePasswordModel)" #form = 'ngForm'>
              <div class="form-group">
                  <label for="oldPassword" class="text-uppercase">{{'changepasswordOldPassword'|translate}}</label>
                  <input type="password" name="oldPassword" class="form-control" placeholder=""
                   [(ngModel)]="ChangePasswordModel.OldPassword" required #oldpassword="ngModel">
                   <span class="help-block validation-alert" *ngIf='!oldpassword.valid && oldpassword.touched'>Please Enter Valid Password !</span>
                   <span class="help-block validation-alert" *ngIf='oldpassword.valid && oldpassword.touched && (oldpassword.value.length < 8)'>Your password is weak !</span>
                </div>
     
            <div class="form-group">
              <label for="Password" class="text-uppercase">{{'changepasswordNewPassword'|translate}}</label>
              <input type="password" name="Password" class="form-control" placeholder=""
              [(ngModel)]="ChangePasswordModel.NewPassword" required #password="ngModel">
               <span class="help-block validation-alert" *ngIf='!password.valid && password.touched'>Please Enter Valid Password !</span>
               <span class="help-block validation-alert" *ngIf='password.valid && password.touched && (password.value.length < 8)'>Your password is weak !</span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword" class="text-uppercase">{{'changepasswordConfirmNewPassword'|translate}}</label>
                <input type="password" name="ConfirmPassword" class="form-control" placeholder=""
                [(ngModel)]="ChangePasswordModel.ConfirmPassword" required #confirm="ngModel">
                 <span class="help-block validation-alert" *ngIf='password.value != confirm.value && confirm.touched'>Diffrent pass !</span>
              </div>
  
  
            <div class="form-check">
              <button [disabled]='!form.valid || Submitted' type="submit" class="btn btn-login float-right">{{'changepasswordChangePasswordBtn'|translate}}</button>
            </div>
  
          </form>
  
        </div>
  </div>
  </div>
